*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #CE967B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

#img-carrito {
    max-width: 50px; 
}

table {
    width: 100%;
}

th, td {
    color: #FFFFFF;
}

.menu .navbar ul li a.active {
    color: #CE967B;
}

@media(max-width:991px) {
    .menu {
        padding: 10px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #444444;
        display: none;
        z-index: 999;
    }

    .menu .navbar ul li {
        width: 100%;
        margin-bottom: 5px;
    }

    .menu .navbar ul li a {
        padding: 15px 10px;
        font-size: 14px; 
    }
    
    .menu .navbar ul li a:hover {
        background-color: #555;
    }


    #menu:checked ~ .navbar {
        display: initial;
    }


}